html {
  height: 100%;
  width: 100%;
}
@media (prefers-reduced-motion: no-preference){
  *{
    scroll-behavior: smooth;
  }
}
body {
  background: white;
  margin: 0;
}
header {
  background-color: #1B2F4A;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 1;
}
#logo {
  height: 100%;
}
main {
  padding-top: 10%;
  margin: 0;
}
#navbar {
  background-color: #1B2F4A;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top 0.5s;
}
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
#navbar a:hover {
  background-color:#A9BEB4;
  color: #1B2F4A;
}
h2 {
  font-size: 2.5em;
  border-bottom: 4px solid #1B2F4A;
}
h2,h4 {
  font-family: "EB Garamond";
}
h3{
  font-size: 3em;
  align-items: center;
  text-align: center;
  letter-spacing: normal;
  font-family: 'EB Garamond';
}
p, ul > li {
  text-indent: 25px;
  font-size: 1.5em;
  font-family: "Anek Latin";
}
section {
  width: 80%;
  margin: 0 auto;
}

/*Team member modules*/
.team-members-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.team-member{
  height: 250px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7%;
}
.profile-pic {
  width: 30%;
  max-width: 10em;
  border-radius: 50%;
}
.name {
  text-align: left;
  font-size: 2.2em;
}
.team-member-info {
  width: 59%;
}
.member-description {
  text-indent: 0;
}
#other-colleges-text {
  font-size: 1.2em;
  text-indent: 0;
}

/* Services styling */
h4 {
  font-size: 2.5em;
  font-style: bold;
}

/* Google Form Styling */
#google-form {
  width: 90%;
  max-height: 450px;
}

/* Donations Styling */
#donations {
  display: block;
}
#btn-div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#donate-btn{
  padding: 25px 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  border: 2px solid black;
  font-family: "Anek Latin";
  color: #1B2F4A;
  font-size: 1.7em;
  cursor: pointer;
}
#donation-link {
  text-decoration: none;
}

/* Contact Us Styling */
#contact-us{
  display: flex;
  justify-content: center;
  height: 75px;
  align-items: center;
  gap: 10px;
}
.contact-icons{
  align-items: center;
  display: flex;
  gap: 10px;
}
#instagram-logo{
  max-width: 25px;
}
.link-text{
  font-size: 1.2em;
  align-items: center;
  color: #1B2F4A;
  font-family: "Anek Latin";
}
#contact-us-div > h4 {
  font-size: 1.2em;
}
@media (max-width: 800px) {
  h3 {
    padding-top: 25px;
    font-size: 2em;
  }
  .member-description {
    font-size: 1em;
  }
  .name {
    font-size: 1.8em;
    margin-bottom: 0;
  }
}
